{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  .footer-block-contact {
    .list-social {
      justify-content: start;
      padding-left: 0px;
      gap: 15px;
    }
    .svg-wrapper {
      width: 14px;
      height: 14px;
    }
    .list-social__link {
      background-color: #d9ddeb;
      border-radius: 50%;
      padding: 1rem;
    }
    .list-social__item .icon {
      height: 100%;
      width: 100%;
    }
  }
</style>

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block footer-block__{{ block.type }} grid__item{% if block.type == 'link_list' %} footer-block--menu{% if block.settings.heading != blank and block.settings.menu != blank %} small-hide{% endif %}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'contact' -%}
                    <div class="footer-block__details-content footer-block-{{ block.type }} rte">
                      <div class="contact-subtext">
                        {{ block.settings.subtext }}
                      </div>
                      <div class="contact-info">
                        {%- if block.settings.phone != blank -%}
                          <div class="contact-link">
                            <svg
                              width="22"
                              height="22"
                              viewBox="0 0 22 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M12.62 4.5C13.5967 4.69057 14.4944 5.16826 15.198 5.87194C15.9017 6.57561 16.3794 7.47326 16.57 8.45M12.62 0.5C14.6492 0.725436 16.5416 1.63417 17.9862 3.07701C19.4309 4.51984 20.342 6.41101 20.57 8.44M8.79695 12.3631C7.59537 11.1615 6.64659 9.80285 5.95059 8.35323C5.89072 8.22854 5.86079 8.16619 5.83779 8.0873C5.75607 7.80695 5.81477 7.46269 5.98478 7.22526C6.03262 7.15845 6.08978 7.10129 6.20409 6.98698C6.5537 6.63737 6.7285 6.46257 6.84278 6.28679C7.27378 5.6239 7.27378 4.76932 6.84279 4.10643C6.7285 3.93065 6.5537 3.75585 6.20409 3.40624L6.00922 3.21137C5.47778 2.67993 5.21206 2.41421 4.92668 2.26987C4.35912 1.9828 3.68885 1.9828 3.12129 2.26987C2.83591 2.41421 2.57019 2.67993 2.03874 3.21137L1.88111 3.36901C1.35149 3.89863 1.08668 4.16344 0.884427 4.52348C0.660007 4.92298 0.498645 5.54347 0.500009 6.0017C0.501237 6.41464 0.581341 6.69687 0.741548 7.26131C1.60252 10.2947 3.22699 13.1571 5.61497 15.545C8.00295 17.933 10.8653 19.5575 13.8987 20.4185C14.4632 20.5787 14.7454 20.6588 15.1583 20.66C15.6165 20.6614 16.237 20.5 16.6365 20.2756C16.9966 20.0733 17.2614 19.8085 17.791 19.2789L17.9486 19.1213C18.4801 18.5898 18.7458 18.3241 18.8902 18.0387C19.1772 17.4712 19.1772 16.8009 18.8902 16.2333C18.7458 15.948 18.4801 15.6822 17.9486 15.1508L17.7538 14.9559C17.4042 14.6063 17.2294 14.4315 17.0536 14.3172C16.3907 13.8862 15.5361 13.8862 14.8732 14.3172C14.6975 14.4315 14.5226 14.6063 14.173 14.9559C14.0587 15.0702 14.0016 15.1274 13.9348 15.1752C13.6973 15.3453 13.3531 15.404 13.0727 15.3222C12.9938 15.2992 12.9315 15.2693 12.8068 15.2094C11.3572 14.5134 9.99853 13.5646 8.79695 12.3631Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ block.settings.phone }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.email != blank -%}
                          <div class="contact-link">
                            <svg
                              width="21"
                              height="17"
                              viewBox="0 0 21 17"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M20 14.5L13.3571 8.5M7.64286 8.5L1.00003 14.5M0.5 3.5L8.66492 9.21544C9.32609 9.67826 9.65668 9.90967 10.0163 9.99931C10.3339 10.0785 10.6661 10.0785 10.9837 9.99931C11.3433 9.90967 11.6739 9.67826 12.3351 9.21544L20.5 3.5M5.3 16.5H15.7C17.3802 16.5 18.2202 16.5 18.862 16.173C19.4265 15.8854 19.8854 15.4265 20.173 14.862C20.5 14.2202 20.5 13.3802 20.5 11.7V5.3C20.5 3.61984 20.5 2.77976 20.173 2.13803C19.8854 1.57354 19.4265 1.1146 18.862 0.82698C18.2202 0.5 17.3802 0.5 15.7 0.5H5.3C3.61984 0.5 2.77976 0.5 2.13803 0.82698C1.57354 1.1146 1.1146 1.57354 0.82698 2.13803C0.5 2.77976 0.5 3.61984 0.5 5.3V11.7C0.5 13.3802 0.5 14.2202 0.82698 14.862C1.1146 15.4265 1.57354 15.8854 2.13803 16.173C2.77976 16.5 3.61984 16.5 5.3 16.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            {{ block.settings.email }}
                          </div>
                        {%- endif -%}
                      </div>
                      {%- if block.settings.show_social -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div class="footer__column footer__column--info footer__column--info-payment">
          {%- if section.settings.payment_enable -%}
            <div class="footer__payment">
              <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
              <ul class="list list-payment" role="list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>

        {%- assign footer_linklist_blocks = section.blocks | where: 'type', 'link_list' -%}
        {%- if footer_linklist_blocks.size > 0 -%}
          <div class="footer__blocks--dropdown grid grid--1-col medium-hide large-up-hide">
            {%- for block in footer_linklist_blocks -%}
              {%- if block.settings.heading != blank and block.settings.menu != blank -%}
                <div class="grid__item" {{ block.shopify_attributes }}>
                  <details
                    id="Details-{{ block.id }}-{{ section.id }}"
                  >
                    <summary id="Summary-{{ block.id }}-{{ section.id }}">
                      <h3 class="accordion__title inline-richtext h4">
                        {{- block.settings.heading -}}
                      </h3>
                      {{- 'icon-caret.svg' | inline_asset_content -}}
                    </summary>
                    <div
                      class="accordion__content rte"
                      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                      role="region"
                      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                    >
                      {%- if block.settings.menu != blank -%}
                        <ul class="footer-block__details-content list-unstyled">
                          {%- for link in block.settings.menu.links -%}
                            <li>
                              <a
                                href="{{ link.url }}"
                                class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                              >
                                {{ link.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  </details>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ section.settings.shop_name | link_to: routes.root_url -}}
        </small>
        {% comment %} <small class="copyright__content">{{ powered_by_link }}</small> {% endcomment %}
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {% comment %} {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%} {% endcomment %}
             <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ section.settings.policy_statement }}</a></small
                  >
                </li>
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "inline_richtext",
          "id": "phone",
          "label": "Phone",
          "default": "(000)-123-4567"
        },
        {
          "type": "inline_richtext",
          "id": "email",
          "label": "Email",
          "default": "support@memotails.com"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "Show Social"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "Footer Bottom Content"
    },
    {
      "type": "inline_richtext",
      "id": "shop_name",
      "default": "New Century Press. All rights reserved.",
      "label": "Shop Info"
    },
    {
      "type": "inline_richtext",
      "id": "policy_statement",
      "default": "Terms of use |  Privacy statement",
      "label": "Privacy statement"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
